### Session F2 - Fundamentals of Programming

In [ ]:
Myworlld = 'My World'
print(Myworlld)

My World

**First Programing Code - Hello World**

In [ ]:

print("Hello, World!") # This line prints hello world.

Hello, World!

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

**Python Comments**

In [ ]:
# This line is a python comment line
print('Hello World')

Hello World

This line is a python comment line

**Functions in python**

A function is a block of code which only runs when it is called.
There are **built-in** functions and there are **user-defined** functions.

There is a documentation of all the built-in functions in python here : https://docs.python.org/3/library/functions.html

In [ ]:
P = 1500000
R = 0.05
T = 5
SimpleInt = P*R*T
print(SimpleInt)

375000.0

In [ ]:
A = int(input('enter the value of A'))
B = float(input('enter the value of B'))
C = int(input('enter the value of C'))
product = A*B*C
print('the result of these numbers are',product)

enter the value of A2
enter the value of B3
enter the value of C4
the result of these numbers are 24.0

In [ ]:
#Multiplying 3 numbers
firstNumber=int(input('Enter the first number'))
num2=float(input('Enter the first number'))
num3=int(input('Enter the first number'))
product= firstNumber *num2 *num3
print(f'the Product of {firstNumber},{num2} and {num3} is: {product}')

Enter the first number3
Enter the first number6
Enter the first number4
the Product of 3,6.0 and (num3) is: (product)

In [ ]:
def SI():
  P = 1500000
  R = 0.05
  T = 5
  SimpleInt = P*R*T
  print(SimpleInt)

In [ ]:
result1 = SI()
print(result1)

375000.0
None

In [ ]:
Product = int(input('Enter the product amount'))
Rate = float(input('Enter the rate'))
Time = int(input('Enter the time'))
SimpleInt = Product * Rate * Time
print(f'The simple interest when product is {Product}, rate is {Rate} and time is {Time} will be: {SimpleInt}')

Enter the product amount150000
Enter the rate0.03
Enter the time5
The simple interest when product is 150000, rate is 0.03 and time is 5 will be: 22500.0

In [ ]:
def SI():
  Principle = int(input('Please enter the total loan amount'))
  Interest = int(input('Please enter the interest rate as a percentage'))/100
  LoanTime = int(input('Please input the loan time in years'))
  SimpleInterest = Principle*Interest*LoanTime
  print(SimpleInterest)

SI()

Please enter the total loan amount150000
Please enter the interest rate as a percentage3
Please input the loan time in years5
22500.0

In [ ]:
#calculating simple interest interactively
principal = int(input('Enter the principal '))
rate = float(input('Enter the rate as a decimal '))
time = int(input('Enter the time in number of years '))
product = principal* rate* time
print ('The simple interest is:' ,product)

Enter the principal 150000
Enter the rate as a decimal 0.03
Enter the time in number of years 5
The simple interest is: 22500.0

In [ ]:
def SI():
  P = int (input('Enter principal'))
  R = float (input('Enter rate'))
  T = int (input('Enter time'))
  SimpleInt = P*R*T
  print (SimpleInt)

In [ ]:
SI()

Enter principal150000
Enter rate3
Enter time60
27000000.0

In [ ]:
area = 10
print('area')
print(area)

area
10

In [ ]:
#Area of a rectangle
10 * 5

50

In [ ]:
def areaRectangle():
  length = 10
  breath = 5
  area = length * breath
  print(area)

In [ ]:
areaRectangle()

50

In [ ]:
#Sample user-defined function
def addition():
  sum = 4+6
  print(sum)

def subtraction():
  value = 9-5
  print(value)

In [ ]:
def per_Square():
  perimeter = 4 * side
  return perimeter + 5


side = 5
result = per_Square()
print(result)

25

In [ ]:
print(subtraction())

4
None

In [ ]:
def addition():
  a= 20
  b= 25
  sum= a+b
  print(sum)
addition()

45

In [ ]:
def areaRec():
  L = 20
  b = 10
  area = L*b
  print(area)

areaRec()

200

In [ ]:
def LI():
  p= 2500000
  r= 0.03
  t= 5
  Interest = p*r*t
  print(Interest)

LI()

375000.0

In [ ]:
def SI():
  P = 25000000
  R = 0.03
  T = 5
  SimpleInt = P*R*T
  print(SimpleInt)

SI()

3750000.0

In [ ]:
def INTrate():
  Loan = 2500000
  Interest_Rate = 0.03
  Years = 5
  Interest = Loan*Interest_Rate*Years
  print(Interest)

INTrate()

375000.0

In [ ]:
a = 5
b= 10
sum = a+b
print(sum)

15

**Python Indentation - To indicate block of codes**

In [ ]:
a = input('Enter your first value')
b = input('Enter your second value')
if a == b:
  print('Both numbers are equal')
  print('Both numbers are equal')
  print('Again, I say both numbers are equal')


print('This is always printed')

Enter your first value10
Enter your second value6
This is always printed

In [ ]:
a=9
A=10
MyName = 'Julius'
Name = 'Jaay'
NAME ='Jay'
print = Name
input=
A+A
myStateAddress =
MyStateAddress =
my_state_address =
mystateaddress

Julius



**Variables**
- Variables are containers for storing data value
- Variables are declared when assigned a value

**Convention for Naming a Variable**

- Variable name must start with a letter or underscore character
- variable name can only contain alpha-numeric characters ([a-z], [0-9], and _)
- Variable name cannot start with a number
- Variable names are case - sensitive
- Variable names cannot contain space
- Variable name cannot be any of the python key words such print, let etc
- string variables are declared using single or double quotes
- NB - camelCase, PascalCase or snake-case help make variable names readable


**Let's create come variables**

In [ ]:
myPhoneNumber = 80 # camelCase
MyPhoneNumber = 80 # PascalCase
my_phone_number = 80 # snake_case
myphonenumber = 1

In [ ]:
print(myphonenumber)

1

In [ ]:
#Valid variable names
a = 5
MyName = 'Julius Rice'
myBootcamp ='Data Analysis'

In [ ]:
#invalid variable names
7a = 5
_MyName = 'Julius Rice'
myBootcamp ='Data Analysis'

In [ ]:
my_Name = "Timothy"
name = 'Jane'
weight = 60.9
myCountry = 'Nigeria'
age = 50
my_profession = 'Information Technology'
myProfession = "IT"
question = True
answer = False
MyList = [1,2.5,"IT",True]
MyList2 = []

In [ ]:
type(my_Name)

str

**Data Type in Python**

Available data types in python include
- String (str)
- Integer (int)
- Float (float)
- Boolean (bool)
Others are List, tuple, dictionary.

NB: you can confirm or check the data type of a particular variable using type() function

In [ ]:
# Assign a value into a variabe
myName = "Timothy"
myAge = 30
myPay = 56.89
myTerm = True
myList = [1, 2, "Julius", 'a', 30.2, True]
num = []

In [ ]:
#Multiplying 3 numbers
num1 = int(input('Enter the first number'))
num2 = float(input('Enter the second number'))
num3 = int(input('Enter the third number'))
product = num1* num2* num3
print('The product of the 3 numbers is:', product)
print(f'The Product of {num1} , {num2} and {num3}  is:  {product}')

Enter the first number25
Enter the second number3
Enter the third number2
The Product of 25 , 3.0 and 2  is:  150.0

In [ ]:
type(num)

list

In [ ]:
print(type(myList))
print(type(myName))
print(type(myAge))
print(type(myPay))
print(type(myTerm))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Write a code that find the simple interest of a sum given the pricipal as 1500000, rate is 5% and time is 3 years

In [ ]:
#this calculates the simple interest
principal = 1500000
rate = 5
rate = rate/100
time = 3
interest = principal * rate * time
print(interest)

225000.0

In [ ]:
printciple = 1500000
rate = 5
time = 3

Interest = (printciple*rate*time)/100
print(Interest)

225000.0

In [ ]:
#this calculates the simple interest
principal = float(input('Enter the principal amount '))
rate = float(input('Enter the rate in percentage '))
rate = rate/100
time = int(input('Enter the number of years for refund '))
interest = principal * rate * time
print(interest)

Enter the principal amount 1500000
Enter the rate in percentage 5
Enter the number of years for refund 3
225000.0

In [ ]:
principal = float(input('Enter the Principal value '))
rate = float(input('Enter the rate value '))
time = int(input('Enter the time value '))
si = (principal * rate * time)/100
print(si)

Enter the Principal value 1500000
Enter the rate value 5
Enter the time value 3
225000.0

In [ ]:
Cole = float(input('enter Cole value: '))
Nicole = float(input ('enter Nicole value: '))
Derek = float(input ('enter Derek value: '))
Sum = (Cole + Nicole + Derek)
print(f'Cole got {Cole}, Derek got {Derek} and Nicole got {Nicole} and the sum is {Sum} ')

enter Cole value: 500
enter Nicole value: 700
enter Derek value: 1000
Cole got 500.0, Derek got 1000.0 and Nicole got 700.0 and the sum is 2200.0

In [ ]:
# Sum of three inputted values
def addition():
    Cole = float(input("Cole, please enter your amount: £"))
    Nicole = float(input("Nicole please enter your amount: £"))
    Derek = float(input("Derek please enter your amount: £"))
    total = Cole + Nicole + Derek
    print (f"You have a total of £{total} between you")

In [ ]:
addition()

Cole, please enter your amount: £500
Nicole please enter your amount: £700
Derek please enter your amount: £1000
You have a total of £2200.0 between you

In [ ]:
coleValue=float(input('how much does Cole have?'))
n=float(input('how much does Nicole have?'))
d=float(input('how much does Derek have?'))
print(f"all together they have £{c+n+d}")

how much does Cole have?500
how much does Nicole have?700
how much does Derek have?1000
all together they have £2200.0

In [ ]:
Cole = int(input('enter the amount for Cole '))
Nicole = int(input('enter the amount for Nicole '))
Derek = int (input('enter the amount for Derek '))
product = Cole+Nicole+Derek
print (f'the total sum of amount for {Cole}, {Nicole}, {Derek} is {product}')

enter the amount for Cole 500
enter the amount for Nicole 700
enter the amount for Derek 1000
the total sum of amount for 500, 700, 1000 is 2200

In [ ]:
v1=int(input("How much money ya got Cole?"))
v2=int(input("How much money ya got Nicole?"))
v3=int(input("How much money ya got Derek?"))
totalv= v1+v2+v3
print("You've got £",totalv,  "altogether")

How much money ya got Cole?500
How much money ya got Nicole?700
How much money ya got Derek?1000
You've got £ 2200 altogether

**Cole, Nicole and Derek got £500, £700 and £1000 respectively. Write a program that takes as input from the keyboard their various values and returns the sum of all their values**

In [ ]:
N1= input('Enter the first Number ')
N2= input('Enter the first Number ')
Add = N1 + N2

print(f'The addition of {N1} and {N2} is {Add}')

Enter the first Number 25
Enter the first Number 5
The addition of 25 and 5 is 255

In [ ]:
def Perimeter(): #This function return the perimeter of a Square
  print('PERIMETER OF A SQUARE')
  Side=float(input('Please enter the side length of a square in cm: '))
  Per=4*Side
  print(f'The perimeter of a square is: {Per} cm')

Perimeter()

PERIMETER OF A SQUARE
Please enter the side length of a square in cm: 6
The perimeter of a square is: 24.0 cm

In [ ]:
##Assignment 01
##Interactive program for addition, subtraction, multiplication, division
def BasicArithmatics ():
    Num1 =int(input('Enter NUmber 1 = '))
    Num2 =int(input('Enter Number 2 = '))
    SumOfNum = Num1 + Num2
    SubOfNUm = Num1 - Num2
    MultiOfNum = Num1 * Num2
    DivOfNum = Num1 / Num2
    print(f'Addition of {Num1} + {Num2} = {SumOfNum}')
    print(f'Subtraction of {Num1} - {Num2} = {SubOfNUm}')
    print(f'Multification of {Num1} * {Num2} = {MultiOfNum}')
    print(f'Division of {Num1} / {Num2} = {DivOfNum}')
BasicArithmatics ()

Enter NUmber 1 = 25
Enter Number 2 = 5
Addition of 25 + 5 = 30
Subtraction of 25 - 5 = 20
Multification of 25 * 5 = 125
Division of 25 / 5 = 5.0

In [ ]:
def BAO():
  num1=int(input('Enter number 1 - '))
  num2=int(input('Enter number 2 - '))
  addition=num1+num2
  subtracton=num1-num2
  multiplication=num1*num2
  division=num1/num2
  print(f'The addition of {num1} and {num2} is {addition}')
  print(f'The subtraction of {num1} and {num2} is {subtracton}')
  print(f'The multiplication of {num1} and {num2} is {multiplication}')
  print(f'The division of {num1} and {num2} is {division}')
BAO()

Enter number 1 - 25
Enter number 2 - 5
The addition of 25 and 5 is 30
The subtraction of 25 and 5 is 20
The multiplication of 25 and 5 is 125
The division of 25 and 5 is 5.0

In [ ]:
#Create a program that takes two numbers as input and performs basic arithmetic operations (addition, subtractions, multiplication, division):

Number_1 = float(input('Input the first number as a whole or decimal number: '))
Number_2 = float(input('Input the second number as a whole or decimal number: '))

Addition = Number_1 + Number_2
print (f'The result of adding {Number_1} and {Number_2} is: ', Addition)

Subtraction = Number_1 - Number_2
print (f'The result of subtracting {Number_1} from {Number_2} is: ', Subtraction)

Multiplication = Number_1 * Number_2
print (f'The result of multiplying {Number_1} and {Number_2} is: ', Multiplication)

Division = Number_1 * Number_2
print (f'The result of dividing {Number_1} and {Number_2} is: ', Division)

Input the first number as a whole or decimal number: 25
Input the second number as a whole or decimal number: 5
The result of adding 25.0 and 5.0 is:  30.0
The result of subtracting 25.0 from 5.0 is:  20.0
The result of multiplying 25.0 and 5.0 is:  125.0
The result of dividing 25.0 and 5.0 is:  125.0

In [ ]:
Create a program that takes two numbers as input and performs basic arithmetic operations (addition, subtraction, multiplication, division)

a=float(input('enter any number:'))
b=float(input('enter another number:'))
Q1=input("do you want to add those numbers? answer yes, or no, using lower case only!")
if(Q1=="yes"):
  print(a+b)
elif(Q1=="no"):
  print("moving on!")
Q2=input("do you want to subtract those numbers?")
if(Q2=="yes"):
  print(a-b)
elif(Q2=="no"):
  print("moving on!")
Q3=input("do you want to multiply those numbers?")
if(Q3=="yes"):
  print(a*b)
elif(Q3=="no"):
  print("moving on!")
Q4=input("do you want to devide those numbers?")
if(Q4=="yes"):
  print(a/b)
elif(Q4=="no"):
  print("that's okay!")
print("Goodbye!")

In [ ]:
#Add up thre values from user inputs
Cole = int(input('Enter amount for Cole: '))
Nicole= int(input('Enter amount for Nicole: '))
Derek = int(input('Enter amount for Derek: '))
total = Cole +Nicole + Derek
print(f'The Total of {Cole}, {Nicole} and {Derek} is {total}')

Enter amount for Cole: 500
Enter amount for Nicole: 7000
Enter amount for Derek: 2000
The Total of 500, 7000 and 2000 is 9500

In [ ]:
Cole = float(input("What is the value for Cole? "))
Derek = float(input("What is the value for Derek? "))
Nicole = float(input("What is the value for Nicole? "))
total = Cole +Derek + Nicole
print(total)

What is the value for Cole? 500
What is the value for Derek? 700
What is the value for Nicole? 1000
2200.0

In [ ]:
len = int(input("Enter the length of the area in cm:  "))
br = int(input("Enter the breath of the area in cm: "))

print(f"The area of rectangle is:  {area}")

Enter the length of the area in cm:  20
Enter the breath of the area in cm: 15
The area of rectangle is:  300

In [ ]:
#Find the area of a rectangle

L=float(input('Enter the length of your rectangle in centimeters '))
W=float(input('Enter the width of your rectangle in centimeters '))
A=L*W
print(f'The area of your rectangle is {A}cm')

Enter the length of your rectangle in centimeters 20
Enter the width of your rectangle in centimeters 15
The area of your rectangle is 300.0cm

In [ ]:
MyString= "Julius Rice is the man in charge of the program"
print(MyString[:20])

Julius Rice is the m

**Casting** is a term used to describe convertion of datatype of a variable to another datatype.

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
a = 10
a = str(a)    # a will be '10'
b = int(a)    # b will be 5
c = float(17)  # c will be 17.0

In [ ]:

type(a)

str

##Working with String

- A string is an array/collection of characters surronded by a either a single or double quotation.
- Square brackets can be used to access elements of the string.
- Indexing is a way to refer to the individual items within an iterables (string,  list, tuple, dictionary) by their position. Indexing in python starts from zero (0)

**Some String Operations**

- String Slicing
  - String slicing return a range of character from a string. This is achieved by specifiying the start index and end index separated by a colon

In [ ]:
MyString = "Julius Rice is the man in charge of the program"
print(MyString[7:])

Rice is the man in charge of the program

In [ ]:
#some slicing examples
Firstname = "Julius"
Lastname = 'Alex'
print(Firstname[:3] + Lastname[:3])

JulAle

In [ ]:
mystring = "String slicing return a range of character from a string. This is achieved by specifiying the start index and end index separated by a colon"
print (mystring [0:57])

String slicing return a range of character from a string.

In [ ]:
my_string = 'String slicing return a range of character from a string. This is achieved by specifiying the start index and end index separated by a colon'

sentence = my_string.split('.')

print(sentence[0] +'.')

String slicing return a range of character from a string.

In [ ]:
MyString = "String slicing return a range of character from a string. This is achieved by specifiying the start index and end index separated by a colon"
print (MyString[:58])

String slicing return a range of character from a string.

In [ ]:
MyText = 'String slicing return a range of character from a string.'
print(MyText[16:])

eturn a range of character from a string.

In [ ]:
myVar = "This is a Data Analysis Class"
mid_end = print(myVar[8:]) # returns characters from idex 8 to the end

a Data Analysis Class

In [ ]:
MyText = 'String slicing return a range of character from a string.'
print(MyText[0:15])

String slicing

In [ ]:
myVar = "This is a Data Analysis Class"
begin_mid = print(myVar [: 14]) # this returns the character from the begining to index 14

This is a Data

In [ ]:
Mystring ='The world has turned a big connected domain of data with the massive development of the internet of things. Now we are all in a single global community.'

#Concatenate the first 3 characters with the 24th to 36th and the 141st to 152nd

first3 = Mystring[0:3]
print(first3)

next5 = Mystring[3:10]
print(next5)


print(first3 +' ' + next5)

The
 world
The  world

In [ ]:
var = "The world has turned a big connected domain of data with the massive development of the internet of things. Now we are all in a single global community "
var1 =var[0:15]
var2 = var[15:]
var3 = var[10:30]

alltogether = var1+var2+var3
print(alltogether)

The world has turned a big connected domain of data with the massive development of the internet of things. Now we are all in a single global community has turned a big con

In [ ]:
print(len(var))

152

**String Concatenation**

  -This process combines two string together using + (plus) sign

In [ ]:
firstName = 'Timothy'
lastName = "Olaniyi"

fullName = firstName + ' ' +lastName
print(fullName)

Timothy Olaniyi

In [ ]:
First_name = 'Theo'
Last_name = 'Alex'
fullname  = First_name[1:] + ' ' +Last_name[1:]

print(fullname.upper())

HEO LEX

- Some string methods commonly use
  - lower()
  - upper()

In [ ]:
A = 10
type(A)

int

In [ ]:
myVar = "this is a Data Analysis Class"
type(myVar)
myVar.upper()





#print(myVar.upper()) # convert the strings to upper case (CAPITAL Letters)
#print(myVar.lower() ) # convert the strings to small letters (lower case)

2

**Looping Through a String**

In [ ]:
for x in "THIS IS A DATA ANALYSIS CLASS":
  print(x)

T
H
I
S

I
S

A

D
A
T
A

A
N
A
L
Y
S
I
S

C
L
A
S
S

In [ ]:
MyString2 = "THIS IS A DATA ANALYSIS CLASS"
len(MyString2)

29

**String Length**

In [ ]:
iAmCountingString = "Think Employment Bootcamp and Datum Analysis!"


len(iAmCountingString)

45

**Check String**
You could check if a certain phrase or character is present in a string with keyword 'in'

In [ ]:

print("Data" in iAmCountingString)

False

##Python Operators

Python has some operators that allow us to perform operations on the variables and their values. Some of the popular operators are:
  - Arithmetic operators : =, +, -, /, %, **, //

  Operator	Description	Syntax
+	Addition: adds two operands	x + y
*	Multiplication: multiplies two operands	x * y
/	Division (float): divides the first operand by the second	x / y
//	Division (floor): divides the first operand by the second	x // y

In [ ]:
a = 5 #Assigment Operator

print(a)

5

In [ ]:
5 + 5 #Addition Operator

10

In [ ]:
5 - 5 #Subtration Operator

0

In [ ]:
10 / 4 #Division Operator

2.5

In [ ]:
9 % 4 #Modulus Operator

1

In [ ]:
9//4

2

In [ ]:
11//3

3

In [ ]:
5 ** 2 #Exponential Operator

25

**Let's do some operator operations is python**

In [ ]:

unitPrice = 45
QtySold = 98

#Find the total price of all items sold

totalPrice = unitPrice * QtySold
print(totalPrice)

4410

In [ ]:
a=4
b=6
c=3
d=8

add=a+b #addition
print(add)
sub=d-c #substraction
print(sub)
mult=add*sub #multiplication
print(mult)
exp=add**sub #exponential
print(exp)

10
5
50
100000

In [ ]:
MyList= ['y','a','b','z','y' 'Data', 1, True]
var2 = []

In [ ]:
type(var2)

list

## Python List

- List is one of the datatypes listed above
- List can be used to store mutliple items in a simple variable
- List are created using square barckets
- List items are oderered, changeable and allow duplicate values
- list items can be of any data types
NB: When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
myList = [] # this is an empty list
myFruit = ['Apple', 'Orange', 'Grapes','Mango', 'PineApple', 'Banana']
type(myFruit)

list

In [ ]:
print(myFruit[0:5])

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple']

In [ ]:
myBasket = ['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana']

print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana']

**Some Python List Operations**

- subset of a list using indexing method
- length of a list
- append an item in the list
- remove and item from the list
- pop a specified items(index) from the list

In [ ]:

subFruit = myBasket[3:6]
print(subFruit)

['Mango', 'PineApple', 'Banana']

In [ ]:
myBasket.

6

In [ ]:
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana']

In [ ]:
myBasket.extend(['Guava','Strawberry'])

In [ ]:
print(myBasket)
myBasket

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Guava', 'Strawberry']

In [ ]:
myBasket.append('Sugarcane')
myBasket.append('Waterlemon')
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Cherries', 'Kiwi', 'Lemon', 'Peach', 'Sugarcane', 'Waterlemon']

In [ ]:
myBasket.extend(['Sugarcane','Watermelon'])
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Guava', 'Strawberry', 'Sugarcane', 'Watermelon']

In [ ]:
myBasket

['Apple',
 'Orange',
 'Grapes',
 'Mango',
 'PineApple',
 'Banana',
 'Guava',
 'Sugarcane',
 'Watermelon',
 'Sugarcane',
 'Watermelon']

In [ ]:
myBasket.append('Kiwi')
myBasket

['Apple',
 'Orange',
 'Grapes',
 'Mango',
 'PineApple',
 'Cherries',
 'Lemon',
 'Peach',
 'Sugarcane',
 'Waterlemon',
 'Kiwi']

In [ ]:
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Guava', 'Strawberry', 'Sugarcane', 'Watermelon']

In [ ]:
print(myBasket)
myBasket.index('PineApple')

['Apple', 'Orange', 'PineApple', 'Banana', 'Guava', 'Strawberry', 'Watermelon']

2

In [ ]:
for x in range(5):
  print('Victoria asked a question')

Victoria asked a question
Victoria asked a question
Victoria asked a question
Victoria asked a question
Victoria asked a question

In [ ]:
myBasket.remove('Sugarcane')
print(myBasket)

['Apple', 'Orange', 'Grapes', 'PineApple', 'Banana', 'Guava', 'Strawberry', 'Watermelon']

In [ ]:
print(myBasket[6])

Watermelon

In [ ]:
print(Myworlld)

My World

In [ ]:
print(len(myBasket))

12

In [ ]:
myBasket.remove('Kiwi')
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Cherries', 'Lemon', 'Peach', 'Sugarcane', 'Waterlemon']

In [ ]:
myBasket.pop(5)
print(myBasket)

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Cherries', 'Lemon', 'Peach', 'Sugarcane', 'Waterlemon']

In [ ]:
myFruit.append('Carrot')
print(myFruit)
print(len(myFruit))

['Apple', 'Orange', 'Grapes', 'Mango', 'PineApple', 'Banana', 'Carrot']
7

In [ ]:
myFruit.remove('Grapes')
print(myFruit)
print(len(myFruit))

['Apple', 'Orange', 'Mango', 'PineApple', 'Banana', 'Carrot']
6

In [ ]:
myFruit.pop(1)
print(myFruit)
print(len(myFruit))

['Apple', 'Mango', 'PineApple', 'Banana', 'Carrot']
5

In [ ]:
FruitBasket = ['Apple', 'Mango', 'PineApple', 'Banana', 'Carrot']
FruitBasket.append('Grapes')
FruitBasket.append('Orange')
print(FruitBasket)
print(len(FruitBasket))

['Apple', 'Mango', 'PineApple', 'Banana', 'Carrot', 'Grapes', 'Orange']
7

In [ ]:
myBasket33 = ['Apple', 'Orange', 'Grapes', 'Mango', 'Pineapple', 'Banana']
myBasket33.sort()
print(myBasket33)

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Pineapple']

In [ ]:
FruitBasket

['Apple', 'Mango', 'PineApple', 'Banana', 'Carrot', 'Grapes', 'Orange']

In [ ]:
FruitBasket[3] = 'Guava'
print(FruitBasket)

['Apple', 'Mango', 'PineApple', 'Guava', 'Carrot', 'Grapes', 'Orange']

In [ ]:
FruitBasket.sort(reverse=True)
FruitBasket

['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple']

In [ ]:
FruitBasket.sort(reverse=True)
FruitBasket

['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple']

In [ ]:
NewFruitBasket = FruitBasket.copy()
NewFruitBasket.append('Strawberry')

print(NewFruitBasket)
print(FruitBasket)

['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple', 'Strawberry']
['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple']

In [ ]:
FruitBasket = NewFruitBasket
print(FruitBasket)

['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple', 'Strawberry']

In [ ]:
# Print Guava from the list below
Fruitbasket= ['PineApple', 'Orange', 'Mango', 'Guava', 'Grapes', 'Carrot', 'Apple', 'Strawberry']
Fruitbasket[3]

'Guava'

## Pandas

In [ ]:
# Import pandas library
import pandas as pd

In [ ]:
# Read in our dataframe

SalesData = pd.read_csv('/content/Sales_Orders GSQ2..csv')

In [ ]:
SalesData

,Order ID,Order Date,Year,GDSOrder Date,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,112011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,132011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,142011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,142011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,152011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,12312014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,12312014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,12312014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,12312014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,12312014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

In [ ]:
SalesData.head(20)

,Order ID,Order Date,Year,GDSOrder Date,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,112011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,132011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,142011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,142011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,152011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
5,AZ-2011-2918397,01/07/2011,2011,172011,Fredrick Beveridge,La Seyne-sur-Mer,Provence-Alpes-Côte d'Azur,France,Central,Corporate,$90.00,$89.28,21,Art
6,BN-2011-3248724,01/08/2011,2011,182011,Archer Hort,touLouse,Languedoc-Roussillon-Midi-Pyrénées,FrAnce,Central,Consumer,$207.00,$206.18,77,Art
7,AZ-2011-6712797,01/11/2011,2011,1112011,Evie Flockhart,Genoa,Liguria,ITAly,South,Consumer,$155.00,$154.48,36,Bookcases
8,AZ-2011-4827146,01/11/2011,2011,1112011,Faith Greenwood,VieNNa,Vienna,Austria,Central,Consumer,$33.00,$32.85,2,Fasteners
9,AZ-2011-6439906,01/11/2011,2011,1112011,Summer Hayward,MurCIA,Murcia,Spain,South,Consumer,$716.00,$715.17,143,Storage
10,AZ-2011-7053593,01/11/2011,2011,1112011,Gracie Powell,WokinG,England,United Kingdom,North,Consumer,$987.00,$986.41,1112,Bookcases
11,AZ-2011-5702370,01/12/2011,2011,1122011,Hershel Snyder,Lohne,Lower Saxony,Germany,Central,Corporate,$116.00,$115.68,56,Art
12,AZ-2011-9927716,01/12/2011,2011,1122011,Julia Martell,Leicester,England,United Kingdom,North,Home Office,"$1,384.00","$1,383.36",14,Chairs
13,AZ-2011-2222024,01/12/2011,2011,1122011,Viola Watson,sheffield,England,United Kingdom,North,Consumer,$103.00,$102.47,21,Art
14,BN-2011-4913858,1/13/2011,2011,1132011,Julian Dobie,dordrecht,South Holland,Netherlands,Central,Consumer,$268.00,$267.34,342,Tables
15,BN-2011-2807470,1/13/2011,2011,1132011,Rose Heap,Gothenburg,Västra Götaland,SWEDEN,North,Consumer,$55.00,$54.69,11,Art
16,AZ-2011-5960662,1/14/2011,2011,1142011,Ella Troy,Vienna,Vienna,Austria,Central,Home Office,$97.00,$96.82,31,Storage
17,AZ-2011-7675351,1/15/2011,2011,1152011,Everett Dunbar,Langen,Lower Saxony,Germany,Central,Corporate,$40.00,$39.92,6,Labels
18,BN-2011-3770060,1/17/2011,2011,1172011,Georgia Bermingham,Copenhagen,Hovedstaden,Denmark,North,Home Office,$22.00,$21.29,7,Binders
19,AZ-2011-7419210,1/18/2011,2011,1182011,Christopher Goold,Gandia,Valenciana,Spain,South,Corporate,$34.00,$33.99,6,Paper

In [ ]:
SalesData.describe()

              Year  GDSOrder Date    Unit Sold
count  4117.000000   4.117000e+03  4117.000000
mean   2012.726257   5.596839e+06    76.692980
std       1.099352   4.182792e+06   177.631477
min    2011.000000   1.120110e+05     1.000000
25%    2012.000000   1.152012e+06     8.000000
50%    2013.000000   6.112012e+06    25.000000
75%    2014.000000   9.202014e+06    69.000000
max    2014.000000   1.231201e+07  3161.000000

In [ ]:
SalesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       4117 non-null   object
 1   Order Date     4117 non-null   object
 2   Year           4117 non-null   int64
 3   GDSOrder Date  4117 non-null   int64
 4   Customer Name  4117 non-null   object
 5   City           4117 non-null   object
 6   State          4117 non-null   object
 7   Country        4117 non-null   object
 8   Region         4117 non-null   object
 9   Segment        4117 non-null   object
 10  Sale           4117 non-null   object
 11  Item Cost      4117 non-null   object
 12  Unit Sold      4117 non-null   int64
 13  item           4117 non-null   object
dtypes: int64(3), object(11)
memory usage: 450.4+ KB

In [ ]:
SalesData.columns

Index(['Order ID', 'Order Date', 'Year', 'GDSOrder Date', 'Customer Name',
       'City', 'State', 'Country', 'Region', 'Segment', 'Sale', 'Item Cost',
       'Unit Sold', 'item'],
      dtype='object')

In [ ]:
# Saving a copy of the file
data = SalesData.copy()
data

,Order ID,Order Date,Year,GDSOrder Date,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,112011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,132011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,142011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,142011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,152011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,12312014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,12312014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,12312014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,12312014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,12312014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

## Data Cleaning in Pandas

- Rename column names
- selective renaming of columns
- check for null values
- drop rows with null values
- drop columns with null values
- replace a null values with a value
- replace null value with a value of a statistical function such as mean, median, std dev.

In [ ]:
data

,Order ID,Order Date,Year,GDSOrder Date,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,112011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,132011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,142011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,142011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,152011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,12312014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,12312014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,12312014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,12312014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,12312014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

# Dropping Columns

In [ ]:
# Dopping the GDS order date column
data = data.drop(columns='GDSOrder Date')

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,item
0,BN-2011-7407039,01/01/2011,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

In [ ]:
data.isnull().sum()

Order ID         0
Order Date       0
Year             0
Customer Name    0
City             0
State            0
Country          0
Region           0
Segment          0
Sale             0
Item Cost        0
Unit Sold        0
item             0
dtype: int64

### Check for Missing Values

In [ ]:
duplicates_row = data[data.duplicated()]
print('The duplicates are below:')
print(duplicates_row)

The duplicates are below:
Empty DataFrame
Columns: [Order ID, Order Date, Year, Customer Name, City, State, Country, Region, Segment, Sale, Item Cost, Unit Sold, item]
Index: []

In [ ]:
duplicates_row

Empty DataFrame
Columns: [Order ID, Order Date, Year, Customer Name, City, State, Country, Region, Segment, Sale, Item Cost, Unit Sold, item]
Index: []

In [ ]:
data.rename(columns ={'item':'Item'}, inplace=True)
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item
0,BN-2011-7407039,01/01/2011,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item
0,BN-2011-7407039,01/01/2011,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper
1,AZ-2011-9050313,01/03/2011,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases
2,AZ-2011-6674300,01/04/2011,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art
3,BN-2011-2819714,01/04/2011,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art
4,AZ-2011-617423,01/05/2011,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,12/31/2014,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper
4113,AZ-2014-766953,12/31/2014,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art
4114,AZ-2014-1412225,12/31/2014,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art
4115,AZ-2014-7604524,12/31/2014,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies
4116,BN-2014-4140795,12/31/2014,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       4117 non-null   object
 1   Order Date     4117 non-null   datetime64[ns]
 2   Year           4117 non-null   int64
 3   Customer Name  4117 non-null   object
 4   City           4117 non-null   object
 5   State          4117 non-null   object
 6   Country        4117 non-null   object
 7   Region         4117 non-null   object
 8   Segment        4117 non-null   object
 9   Sale           4117 non-null   object
 10  Item Cost      4117 non-null   object
 11  Unit Sold      4117 non-null   int64
 12  Item           4117 non-null   object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 418.3+ KB

In [ ]:
# convert date to date
data['Order Date'] = pd.to_datetime(data['Order Date'])

In [ ]:
Fruitbasket[9]

In [ ]:
# Extracting the month name and creating a new column
data['Month Name'] = data['Order Date'].dt.month_name()

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name
0,BN-2011-7407039,2011-01-01,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper,January
1,AZ-2011-9050313,2011-01-03,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases,January
2,AZ-2011-6674300,2011-01-04,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art,January
3,BN-2011-2819714,2011-01-04,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art,January
4,AZ-2011-617423,2011-01-05,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper,December
4113,AZ-2014-766953,2014-12-31,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art,December
4114,AZ-2014-1412225,2014-12-31,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art,December
4115,AZ-2014-7604524,2014-12-31,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies,December
4116,BN-2014-4140795,2014-12-31,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones,December

In [ ]:
# Extracting the quarter and creating a new column
data['Quarter'] = data['Order Date'].dt.quarter

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name,Quarter
0,BN-2011-7407039,2011-01-01,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper,January,1
1,AZ-2011-9050313,2011-01-03,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases,January,1
2,AZ-2011-6674300,2011-01-04,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art,January,1
3,BN-2011-2819714,2011-01-04,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art,January,1
4,AZ-2011-617423,2011-01-05,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage,January,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper,December,4
4113,AZ-2014-766953,2014-12-31,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art,December,4
4114,AZ-2014-1412225,2014-12-31,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art,December,4
4115,AZ-2014-7604524,2014-12-31,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies,December,4
4116,BN-2014-4140795,2014-12-31,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones,December,4

In [ ]:
#Split the first and lastname
data['FirstName'] = data['Customer Name'].str.split(' ', 1).str[0]
data['LastName'] = data['Customer Name'].str.split(' ', 1).str[1]

<ipython-input-21-8da09355638f>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data['FirstName'] = data['Customer Name'].str.split(' ', 1).str[0]
<ipython-input-21-8da09355638f>:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data['LastName'] = data['Customer Name'].str.split(' ', 1).str[1]

In [ ]:
data

,Order ID,Order Date,Year,Customer Name,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name,Quarter,FirstName,LastName
0,BN-2011-7407039,2011-01-01,2011,Ruby Patel,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper,January,1,Ruby,Patel
1,AZ-2011-9050313,2011-01-03,2011,Summer Hayward,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases,January,1,Summer,Hayward
2,AZ-2011-6674300,2011-01-04,2011,Devin Huddleston,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art,January,1,Devin,Huddleston
3,BN-2011-2819714,2011-01-04,2011,Mary Parker,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art,January,1,Mary,Parker
4,AZ-2011-617423,2011-01-05,2011,Daniel Burke,EchirolleS,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage,January,1,Daniel,Burke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Eloise Sykes,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper,December,4,Eloise,Sykes
4113,AZ-2014-766953,2014-12-31,2014,Jose Gambino,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art,December,4,Jose,Gambino
4114,AZ-2014-1412225,2014-12-31,2014,Leon Barnes,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art,December,4,Leon,Barnes
4115,AZ-2014-7604524,2014-12-31,2014,Rebecca Chamberlain,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies,December,4,Rebecca,Chamberlain
4116,BN-2014-4140795,2014-12-31,2014,Daniel Hamilton,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones,December,4,Daniel,Hamilton

In [ ]:
#Drop the customer name column
data.drop('Customer Name', axis=1, inplace=True)

### check for unique values in columns

In [ ]:
data.City.unique()

array(['Stockholm', 'Southport', 'Valence', ..., 'Arrentela',
       'Clacton-on-Sea', 'Sagunto'], dtype=object)

In [ ]:
data['City'].value_counts

London       111
Vienna       100
Berlin        84
Madrid        74
Paris         63
            ...
Le Pontet      1
Cluses         1
Ancona         1
Orsay          1
Sagunto        1
Name: City, Length: 1005, dtype: int64

In [ ]:
SalesData.Region.unique()

array(['North', 'Central', 'South'], dtype=object)

# Replacing values

In [ ]:
# Convert the City column to title case #DataCleaning
data['City'] = data['City'].str.title()
data

,Order ID,Order Date,Year,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name,Quarter,FirstName,LastName
0,BN-2011-7407039,2011-01-01,2011,Stockholm,Stockholm,SwedeN,North,Home Office,$45.00,$44.34,11,Paper,January,1,Ruby,Patel
1,AZ-2011-9050313,2011-01-03,2011,Southport,England,United kingdom,North,Consumer,$854.00,$853.07,26,Bookcases,January,1,Summer,Hayward
2,AZ-2011-6674300,2011-01-04,2011,Valence,Auvergne-Rhône-Alpes,france,Central,Consumer,$140.00,$139.30,21,Art,January,1,Devin,Huddleston
3,BN-2011-2819714,2011-01-04,2011,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art,January,1,Mary,Parker
4,AZ-2011-617423,2011-01-05,2011,Echirolles,Auvergne-Rhône-Alpes,FrancE,Central,Home Office,$17.00,$16.78,1,Storage,January,1,Daniel,Burke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper,December,4,Eloise,Sykes
4113,AZ-2014-766953,2014-12-31,2014,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art,December,4,Jose,Gambino
4114,AZ-2014-1412225,2014-12-31,2014,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art,December,4,Leon,Barnes
4115,AZ-2014-7604524,2014-12-31,2014,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies,December,4,Rebecca,Chamberlain
4116,BN-2014-4140795,2014-12-31,2014,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones,December,4,Daniel,Hamilton

In [ ]:
# Convert the Country and State columns to title case #DataCleaning
data['Country'] = data['Country'].str.title()
data['State'] = data['State'].str.title()

In [ ]:
#Uses the replace command as an alternative to title() above
SalesData['Country'] = SalesData['Country'].replace(['france','FrancE','               France', 'FrAnce'],'France')
SalesData['Country'] = SalesData['Country'].replace(['ITAly'],'Italy')
SalesData['Country'] = SalesData['Country'].replace(['         Austria'],'Austria')

In [ ]:
#data.Country.unique()
data['Country'].unique()

array(['Sweden', 'United Kingdom', 'France', 'Italy', 'Austria', 'Spain',
       'Germany', 'Netherlands', 'Denmark', 'Belgium', 'Norway',
       'Portugal', 'Switzerland', 'Ireland', 'Finland'], dtype=object)

## Count length of items

In [ ]:
#Finds the number of items in the columns Country
NumberOfCountries = len(data['Country'].unique())
NumberOfCountries

15

In [ ]:
NumberOFCities = len(SalesData.City.unique())
NumberOFCities

1008

## Feature Creation

In [ ]:
data

,Order ID,Order Date,Year,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name,Quarter,FirstName,LastName
0,BN-2011-7407039,2011-01-01,2011,Stockholm,Stockholm,Sweden,North,Home Office,$45.00,$44.34,11,Paper,January,1,Ruby,Patel
1,AZ-2011-9050313,2011-01-03,2011,Southport,England,United Kingdom,North,Consumer,$854.00,$853.07,26,Bookcases,January,1,Summer,Hayward
2,AZ-2011-6674300,2011-01-04,2011,Valence,Auvergne-Rhône-Alpes,France,Central,Consumer,$140.00,$139.30,21,Art,January,1,Devin,Huddleston
3,BN-2011-2819714,2011-01-04,2011,Birmingham,England,United Kingdom,North,Corporate,$27.00,$26.43,22,Art,January,1,Mary,Parker
4,AZ-2011-617423,2011-01-05,2011,Echirolles,Auvergne-Rhône-Alpes,France,Central,Home Office,$17.00,$16.78,1,Storage,January,1,Daniel,Burke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,$14.00,$13.60,11,Paper,December,4,Eloise,Sykes
4113,AZ-2014-766953,2014-12-31,2014,Maidenhead,England,United Kingdom,North,Corporate,$52.00,$51.14,8,Art,December,4,Jose,Gambino
4114,AZ-2014-1412225,2014-12-31,2014,Worcester,England,United Kingdom,North,Consumer,$100.00,$99.47,33,Art,December,4,Leon,Barnes
4115,AZ-2014-7604524,2014-12-31,2014,Hamburg,Hamburg,Germany,Central,Home Office,$136.00,$135.70,22,Supplies,December,4,Rebecca,Chamberlain
4116,BN-2014-4140795,2014-12-31,2014,Eindhoven,North Brabant,Netherlands,Central,Home Office,$132.00,$131.52,61,Phones,December,4,Daniel,Hamilton

In [ ]:
#To convert the Sale column to numeric
data['Sale'] = pd.to_numeric (data['Sale'].replace('[\$]','',regex=True).replace(',','',regex=True))

data['Item Cost'] = pd.to_numeric (data['Item Cost'].replace('[\$]','',regex=True).replace(',','',regex=True))

In [ ]:
#Find  Profit per item
data['Profit Per Item'] = data['Sale'] - data['Item Cost']

data

,Order ID,Order Date,Year,City,State,Country,Region,Segment,Sale,Item Cost,Unit Sold,Item,Month Name,Quarter,FirstName,LastName,Profit Per Item
0,BN-2011-7407039,2011-01-01,2011,Stockholm,Stockholm,Sweden,North,Home Office,45.0,44.34,11,Paper,January,1,Ruby,Patel,0.66
1,AZ-2011-9050313,2011-01-03,2011,Southport,England,United Kingdom,North,Consumer,854.0,853.07,26,Bookcases,January,1,Summer,Hayward,0.93
2,AZ-2011-6674300,2011-01-04,2011,Valence,Auvergne-Rhône-Alpes,France,Central,Consumer,140.0,139.30,21,Art,January,1,Devin,Huddleston,0.70
3,BN-2011-2819714,2011-01-04,2011,Birmingham,England,United Kingdom,North,Corporate,27.0,26.43,22,Art,January,1,Mary,Parker,0.57
4,AZ-2011-617423,2011-01-05,2011,Echirolles,Auvergne-Rhône-Alpes,France,Central,Home Office,17.0,16.78,1,Storage,January,1,Daniel,Burke,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,2014,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,14.0,13.60,11,Paper,December,4,Eloise,Sykes,0.40
4113,AZ-2014-766953,2014-12-31,2014,Maidenhead,England,United Kingdom,North,Corporate,52.0,51.14,8,Art,December,4,Jose,Gambino,0.86
4114,AZ-2014-1412225,2014-12-31,2014,Worcester,England,United Kingdom,North,Consumer,100.0,99.47,33,Art,December,4,Leon,Barnes,0.53
4115,AZ-2014-7604524,2014-12-31,2014,Hamburg,Hamburg,Germany,Central,Home Office,136.0,135.70,22,Supplies,December,4,Rebecca,Chamberlain,0.30
4116,BN-2014-4140795,2014-12-31,2014,Eindhoven,North Brabant,Netherlands,Central,Home Office,132.0,131.52,61,Phones,December,4,Daniel,Hamilton,0.48

In [ ]:
#Find total Profit
data['Total Profit'] = data['Profit Per Item'] * data['Unit Sold']

In [ ]:
data.columns

Index(['Order ID', 'Order Date', 'Year', 'City', 'State', 'Country', 'Region',
       'Segment', 'Sale', 'Item Cost', 'Unit Sold', 'Item', 'Month Name',
       'Quarter', 'FirstName', 'LastName', 'Profit Per Item', 'Total Profit'],
      dtype='object')

In [ ]:
# Rearrange the column items

data = data[['Order ID', 'Order Date','FirstName', 'LastName', 'Year', 'City', 'State', 'Country', 'Region',
       'Segment','Item', 'Month Name', 'Sale', 'Item Cost', 'Unit Sold',
       'Quarter', 'Profit Per Item', 'Total Profit']]

data

,Order ID,Order Date,FirstName,LastName,Year,City,State,Country,Region,Segment,Item,Month Name,Sale,Item Cost,Unit Sold,Quarter,Profit Per Item,Total Profit
0,BN-2011-7407039,2011-01-01,Ruby,Patel,2011,Stockholm,Stockholm,Sweden,North,Home Office,Paper,January,45.0,44.34,11,1,0.66,7.26
1,AZ-2011-9050313,2011-01-03,Summer,Hayward,2011,Southport,England,United Kingdom,North,Consumer,Bookcases,January,854.0,853.07,26,1,0.93,24.18
2,AZ-2011-6674300,2011-01-04,Devin,Huddleston,2011,Valence,Auvergne-Rhône-Alpes,France,Central,Consumer,Art,January,140.0,139.30,21,1,0.70,14.70
3,BN-2011-2819714,2011-01-04,Mary,Parker,2011,Birmingham,England,United Kingdom,North,Corporate,Art,January,27.0,26.43,22,1,0.57,12.54
4,AZ-2011-617423,2011-01-05,Daniel,Burke,2011,Echirolles,Auvergne-Rhône-Alpes,France,Central,Home Office,Storage,January,17.0,16.78,1,1,0.22,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,Eloise,Sykes,2014,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,Paper,December,14.0,13.60,11,4,0.40,4.40
4113,AZ-2014-766953,2014-12-31,Jose,Gambino,2014,Maidenhead,England,United Kingdom,North,Corporate,Art,December,52.0,51.14,8,4,0.86,6.88
4114,AZ-2014-1412225,2014-12-31,Leon,Barnes,2014,Worcester,England,United Kingdom,North,Consumer,Art,December,100.0,99.47,33,4,0.53,17.49
4115,AZ-2014-7604524,2014-12-31,Rebecca,Chamberlain,2014,Hamburg,Hamburg,Germany,Central,Home Office,Supplies,December,136.0,135.70,22,4,0.30,6.60
4116,BN-2014-4140795,2014-12-31,Daniel,Hamilton,2014,Eindhoven,North Brabant,Netherlands,Central,Home Office,Phones,December,132.0,131.52,61,4,0.48,29.28

In [ ]:
data.isnull().sum()

Order ID           0
Order Date         0
FirstName          0
LastName           0
Year               0
City               0
State              0
Country            0
Region             0
Segment            0
Item               0
Month Name         0
Sale               0
Item Cost          0
Unit Sold          0
Quarter            0
Profit Per Item    0
Total Profit       0
dtype: int64

# New Section

#Selecting columns

In [ ]:
SalesData.columns

Index(['Order ID', 'Order Date', 'Year', 'Sales Rep', 'City', 'State',
       'Country', 'Region', 'Segment', 'Sales', 'Profit', 'item'],
      dtype='object')

In [ ]:
SalesDataItems = SalesData[['Order ID','Sales','item']]
SalesDataItems

             Order ID     Sales       item
0     BN-2011-7407039   $45.00       Paper
1     AZ-2011-9050313  $854.00   Bookcases
2     AZ-2011-6674300  $140.00         Art
3     BN-2011-2819714   $27.00         Art
4      AZ-2011-617423   $17.00     Storage
...               ...       ...        ...
4112  AZ-2014-8174835   $14.00       Paper
4113   AZ-2014-766953   $52.00         Art
4114  AZ-2014-1412225  $100.00         Art
4115  AZ-2014-7604524  $136.00    Supplies
4116  BN-2014-4140795  $132.00      Phones

[4117 rows x 3 columns]

In [ ]:
data

,Order ID,Order Date,FirstName,LastName,Year,City,State,Country,Region,Segment,Item,Month Name,Sale,Item Cost,Unit Sold,Quarter,Profit Per Item,Total Profit
0,BN-2011-7407039,2011-01-01,Ruby,Patel,2011,Stockholm,Stockholm,Sweden,North,Home Office,Paper,January,45.0,44.34,11,1,0.66,7.26
1,AZ-2011-9050313,2011-01-03,Summer,Hayward,2011,Southport,England,United Kingdom,North,Consumer,Bookcases,January,854.0,853.07,26,1,0.93,24.18
2,AZ-2011-6674300,2011-01-04,Devin,Huddleston,2011,Valence,Auvergne-Rhône-Alpes,France,Central,Consumer,Art,January,140.0,139.30,21,1,0.70,14.70
3,BN-2011-2819714,2011-01-04,Mary,Parker,2011,Birmingham,England,United Kingdom,North,Corporate,Art,January,27.0,26.43,22,1,0.57,12.54
4,AZ-2011-617423,2011-01-05,Daniel,Burke,2011,Echirolles,Auvergne-Rhône-Alpes,France,Central,Home Office,Storage,January,17.0,16.78,1,1,0.22,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4112,AZ-2014-8174835,2014-12-31,Eloise,Sykes,2014,Bielefeld,North Rhine-Westphalia,Germany,Central,Consumer,Paper,December,14.0,13.60,11,4,0.40,4.40
4113,AZ-2014-766953,2014-12-31,Jose,Gambino,2014,Maidenhead,England,United Kingdom,North,Corporate,Art,December,52.0,51.14,8,4,0.86,6.88
4114,AZ-2014-1412225,2014-12-31,Leon,Barnes,2014,Worcester,England,United Kingdom,North,Consumer,Art,December,100.0,99.47,33,4,0.53,17.49
4115,AZ-2014-7604524,2014-12-31,Rebecca,Chamberlain,2014,Hamburg,Hamburg,Germany,Central,Home Office,Supplies,December,136.0,135.70,22,4,0.30,6.60
4116,BN-2014-4140795,2014-12-31,Daniel,Hamilton,2014,Eindhoven,North Brabant,Netherlands,Central,Home Office,Phones,December,132.0,131.52,61,4,0.48,29.28

In [ ]:
data.to_csv('My_new_SalesData.csv', index=False)

# Replacing Row items

In [ ]:
data.loc[data['Sale'] == 'NaN']

Empty DataFrame
Columns: [Order ID, Order Date, FirstName, LastName, Year, City, State, Country, Region, Segment, Item, Month Name, Sale, Item Cost, Unit Sold, Quarter, Profit Per Item, Total Profit]
Index: []

## Visualization Using Matplot Library

In [ ]:
from matplotlib import pyplot as plt